# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.tlog
*.suo
*.db
*.db-shm
*.db
*.db-wal
*.opendb
*.ipch
Projekat/Projekat/.vs/FreeRTOS_simulator_final/v16/.suo
Projekat/Projekat/.vs/FreeRTOS_simulator_final/v16/Browse.VC.db
Projekat/Projekat/Debug/Starter.exe
Projekat/Projekat/Debug/Starter.pdb
Projekat/Projekat/Starter/Debug/croutine.obj
Projekat/Projekat/Starter/Debug/event_groups.obj
Projekat/Projekat/Starter/Debug/extint.obj
Projekat/Projekat/Starter/Debug/heap_4.obj
Projekat/Projekat/Starter/Debug/HW_access.obj
Projekat/Projekat/Starter/Debug/list.obj
Projekat/Projekat/Starter/Debug/main.obj
Projekat/Projekat/Starter/Debug/main_application.obj
Projekat/Projekat/Starter/Debug/port.obj
Projekat/Projekat/Starter/Debug/queue.obj
Projekat/Projekat/Starter/Debug/Starter.exe.recipe
Projekat/Projekat/Starter/Debug/Starter.ilk
Projekat/Projekat/Starter/Debug/Starter.log
Projekat/Projekat/Starter/Debug/Starter.tlog/CL.command.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/CL.read.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/CL.write.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/link.command.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/link.read.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/link.write.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/Starter.lastbuildstate
Projekat/Projekat/Starter/Debug/stream_buffer.obj
Projekat/Projekat/Starter/Debug/tasks.obj
Projekat/Projekat/Starter/Debug/timers.obj
Projekat/Projekat/Starter/Debug/vc142.idb
Projekat/Projekat/Starter/Debug/vc142.pdb
*.db
*.exe
*.pdb
*.obj
*.recipe
Projekat/Projekat/.vs/FreeRTOS_simulator_final/v16/.suo
Projekat/Projekat/.vs/FreeRTOS_simulator_final/v16/Browse.VC.db
Projekat/Projekat/Debug/Starter.exe
Projekat/Projekat/Debug/Starter.pdb
Projekat/Projekat/Starter/Debug/croutine.obj
Projekat/Projekat/Starter/Debug/event_groups.obj
Projekat/Projekat/Starter/Debug/extint.obj
Projekat/Projekat/Starter/Debug/heap_4.obj
Projekat/Projekat/Starter/Debug/HW_access.obj
Projekat/Projekat/Starter/Debug/list.obj
Projekat/Projekat/Starter/Debug/main.obj
Projekat/Projekat/Starter/Debug/main_application.obj
Projekat/Projekat/Starter/Debug/port.obj
Projekat/Projekat/Starter/Debug/queue.obj
Projekat/Projekat/Starter/Debug/Starter.exe.recipe
Projekat/Projekat/Starter/Debug/Starter.ilk
Projekat/Projekat/Starter/Debug/Starter.log
Projekat/Projekat/Starter/Debug/Starter.tlog/CL.command.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/CL.read.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/CL.write.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/link.command.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/link.read.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/link.write.1.tlog
Projekat/Projekat/Starter/Debug/Starter.tlog/Starter.lastbuildstate
Projekat/Projekat/Starter/Debug/stream_buffer.obj
Projekat/Projekat/Starter/Debug/tasks.obj
Projekat/Projekat/Starter/Debug/timers.obj
Projekat/Projekat/Starter/Debug/vc142.idb
Projekat/Projekat/Starter/Debug/vc142.pdb
